/* Space between header and content */
body main {
    margin-top: 80px;
}

/* Global background color */
body {
    background-color: #EEEEEE;
}

/* Item page breadcrumb */
.breadcrumb {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Remove anchor style */
.no-anchor-style, .no-anchor-style:hover, .no-anchor-style:focus, .no-anchor-style:active {
    text-decoration: none;
    color: inherit;
}

/* Input arrow disable */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Item page tiny slider control position */
.slider-main-container{
    align-items: center;
    display: flex;
    position: relative;
}

.slider-nav li {
    display: inline;
}

.slider-control-prev, .slider-control-next{
    background: grey;
    border: 0;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.50;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

.slider-control-prev{
    left: 15px;
}

.slider-control-next{
    right: 15px;
}


/* Owl Carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
    display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
    transform: translateX(17%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
    transform: translateX(-17%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
    transform: translateX(0);
}
