/* Input arrow disable */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Item page tiny slider control position */
.slider-control-prev, .slider-nav-control-prev, .slider-control-next, .slider-nav-control-next {
    position: absolute;
    background-color: rgba(211,211,211, 0.5);
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
}

.slider-control-prev, .slider-control-next{
    top: 45%;
}

.slider-nav-control-prev, .slider-nav-control-next{
    top: 20%;
}

.slider-control-prev, .slider-nav-control-prev{
    right: 87%;
    margin-left: 17px;
}

.slider-control-next, .slider-nav-control-next {
    left: 87%;
    margin-right: 17px;
}



/* Check out page selected payment method */
div.payment-method.active {
    border:2px solid #00BFFF;
}

/* Header */
.navbar{
    background-color:#303136;
    transition: background-color 0.5s;
}

/* Footer */
.fab{
    font-size: 20px;
}
.font-color{
    color: white;
}
.footer-hr{
    border: 0;
    border-top: 2px solid hotpink;
    width: 90px;
    margin: 0 0 20px;
}
.logo-bt{
    background-color:#303136;
}

/* Homepage */
.headtext{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    color: white;
    font-size: 50px;
    height: 60vh;
    text-align: center;
}
.headtext1{
    color: hotpink;
    display: inline;
}

/* About page */
.about,.us{
    display: inline;
}
.us{
    color: hotpink;
}

/* Owl Carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
    display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
    transform: translateX(17%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
    transform: translateX(-17%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
    transform: translateX(0);
}

/***** Global css *****/

/* help on html bookmark jumping to make sure the target is visible below the navbar */
html {
    scroll-padding-top: 65px; /* height of sticky header */
}

/* Space between header and content */
body main {
    margin-top: 90px;
}

/* Global background color */
body {
    background-color: #EEEEEE;
}

/* Item page breadcrumb */
.breadcrumb {
    background-color: white;
}

/* Extra small columns for image */
.col-xs-auto, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 200px) {
    .col-xs {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-xs-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-xs-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-xs-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-xs-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-xs-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-xs-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xs-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-xs-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xs-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xs-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xs-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xs-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xs-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xs-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .order-xs-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .order-xs-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .order-xs-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .order-xs-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .order-xs-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .order-xs-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .order-xs-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .order-xs-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .order-xs-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .order-xs-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .order-xs-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .order-xs-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .order-xs-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .order-xs-12 {
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-xs-0 {
        margin-left: 0;
    }
    .offset-xs-1 {
        margin-left: 8.333333%;
    }
    .offset-xs-2 {
        margin-left: 16.666667%;
    }
    .offset-xs-3 {
        margin-left: 25%;
    }
    .offset-xs-4 {
        margin-left: 33.333333%;
    }
    .offset-xs-5 {
        margin-left: 41.666667%;
    }
    .offset-xs-6 {
        margin-left: 50%;
    }
    .offset-xs-7 {
        margin-left: 58.333333%;
    }
    .offset-xs-8 {
        margin-left: 66.666667%;
    }
    .offset-xs-9 {
        margin-left: 75%;
    }
    .offset-xs-10 {
        margin-left: 83.333333%;
    }
    .offset-xs-11 {
        margin-left: 91.666667%;
    }
}
